@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  font-family: "Lato", sans-serif;
}

*:focus {
  outline: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4,
ul,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

#root {
  display: flex;
}

:root {
  --border-radius: 5px;


  --primary-color: #FFF4E8;
  --accent-color: #7FA5B3;
  --accent-color-2: #7FA5B3;
  --accent-color-hover: #9ebeca;
  --accent-color-2-hover: #9ebeca;
}

/*? ================ Sidebar =================== */

.sidebar-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;

  height: 100vh;
  width: 200px;
  background-color: var(--primary-color);
}

/** ===== Sidebar Header ===== */

.sidebar-header {
  display: flex;
  gap: 0.5rem;
  align-items: center;

  padding: 1rem 0.5rem 0.25rem 0.5rem;
}

.sidebar-header-profile-photo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  height: 30px;
  width: 30px;
  border-radius: 50%;
  overflow: hidden;
}

.sidebar-header-profile-photo {
  -o-object-fit: cover;
  object-fit: cover;
  height: 30px;
  width: 30px;
}

.sidebar-header-profile-name-text {
  flex-shrink: 0;
  font-size: 16px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  cursor: pointer;
}

/** ===== Sidebar Nav ===== */

.sidebar-nav-container {
}

.sidebar-nav-collection-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
}

.sidebar-nav-heading-label {
  font-weight: 400;
  font-size: 0.9rem;
  color: hsla(0, 0%, 0%, 0.6);
}

.sidebar-nav-add-collection-button {
  height: 25px;
  width: 25px;

  border: 0;
  font-size: 20px;
  padding: 0;
  font-weight: 300;
  background-color: transparent;
  color: var(--text-color);
  border-radius: var(--border-radius);
  transition: .2s;
}

.sidebar-nav-add-collection-button:hover {
  cursor: pointer;
  background-color: white;
  transition: .2s;
}

.sidebar-nav-collection-input-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.25rem 0.5rem;
  background-color: white;
}

.sidebar-nav-collection-input {
  background-color: transparent;

  border: 0;
  margin-right: 0.5rem;
  border-bottom: 1px solid black;
  flex-grow: 1;
}

.sidebar-nav-collection-input-flair {
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 300;
  width: fit-content;
  font-size: 20px;
}

/** ===== Sidebar Nav Collections ===== */

.sidebar-nav-collection-container {
  display: flex;
  align-items: baseline;
  position: relative;

  gap: 0.5rem;
  padding: 0.25rem 0.5rem;
  background-color: transparent;
  min-height: 20px;
  transition: .2s;
}

.sidebar-nav-collection-container:hover {
  background-color: white;
  cursor: pointer;
  transition: .2s;
}

.sidebar-nav-collection-emoji-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  font-weight: 300;
  width: fit-content;
  height: 100%;
  font-size: 16px;
}

.sidebar-nav-collection-emoji {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 20px;
  background-color: transparent;
  border: 0;
}

.sidebar-nav-collection-emoji:hover {
  cursor: pointer;
}

.sidebar-nav-collection-title {
  background-color: transparent;

  border: 0;
  margin-right: 0.5rem;
  flex-grow: 1;
}

/*? ================ Main =================== */

.main-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.main-nav-button-container {
  display: flex;
  gap: 1rem;
}

.main-nav-button {
  padding: .5rem 1rem;
  background-color: var(--accent-color);
  border-radius: var(--border-radius);
  transition: .2s;

}

.main-nav-button:hover {
  background-color: var(--accent-color-hover);
  transition: .2s;
}

/** ===== Main Header ===== */

.main-collection-header-container {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  height: 10vh;
  padding: 1rem;
}

.main-collection-header-emoji {
  font-size: 20px;
  width: 27.5px;
}

.main-collection-header-title {
  display: flex;
  width: fit-content;
  cursor: pointer;
}

.main-collection-header-form {
  display: flex;
  gap: 1rem;
}

.main-collection-header-form-input {
  border: 0;
  border-bottom: 1px solid black;
  font-size: 16px;
}

.main-collection-header-cancel-button {
  padding: 0.5rem 1rem;
  background-color: whitesmoke;
  cursor: pointer;
}

.main-collection-header-details-button {
  margin-left: auto;
}

.main-collection-header-delete-button {
  width: fit-content;
  font-size: 16px;
  padding: 0.4rem 1rem;
  align-self: flex-end;
  background-color: var(--accent-color-2);
  border: 0;
  border-radius: var(--border-radius);
  outline: 2px solid transparent;
  transition: .2s;
}

.main-collection-header-delete-button:hover {
  background-color: var(--accent-color-2-hover);
  outline: 2px solid white;
  cursor: pointer;
  transition: .2s;
}

/** ===== Main Section ===== */

.main-section {
  height: 90vh;
  padding: 1rem;
  width: 100%;
}

.main-section-add-bookmark-container {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: 50px;
}

.main-section-bookmark-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  height: 50px;
  width: 75px;
  background-color: var(--accent-color);
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: .2s;
}

.main-section-bookmark-icon:hover {
  background-color: var(--accent-color-2-hover);
  transition: .2s;
}

.main-section-add-bookmark-form-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 300px;
  height: 100px;
  background-color: var(--primary-color);
  bottom: -220%;
  border-radius: var(--border-radius);
}

.main-section-add-bookmark-form {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  width: 100%;
  padding: 0.5rem;
}

.main-section-add-bookmark-label {
  font-weight: 400;
  font-size: 0.9rem;
  color: hsla(0, 0%, 0%, 0.6);
}

.main-section-add-bookmark-input {
  width: 100%;
  border: 0;
  height: 25px;
  border-radius: calc(var(--border-radius) / 1.5);
  padding: .5rem;
  outline: 1px solid transparent;
  transition: .5s;
}

.main-section-add-bookmark-input:focus {
  outline: 1px solid;
  outline-color: var(--accent-color);
  transition: .5s;
}

.main-section-add-bookmark-button {
  margin-top: 0.25rem;
  width: fit-content;
  padding: 0.4rem 1rem;
  align-self: flex-end;
  background-color: var(--accent-color-2);
  border: 0;
  border-radius: var(--border-radius);
  transition: .2s;
  outline: 2px solid transparent;
}

.main-section-add-bookmark-button:hover {
  background-color: var(--accent-color-2-hover);
  outline: 2px solid white;
  cursor: pointer;
  transition: .2s;
}

.main-section-bookmarks-container {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  height: 70vh;
}

.main-section-bookmark-container {
  display: flex;
}

.main-section-bookmark {
  display: flex;
  align-items: center;
  height: 50px;
  padding: .25rem 0 .25rem .5rem;
  background-color: var(--primary-color);
  border-radius: var(--border-radius);
  flex-grow: 1;
}

.main-section-bookmark-left {
  flex-grow: 1;

}

.main-section-bookmark-right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 200px;
  height: 100%;
  border-left: 2px solid white;
}

.main-section-bookmark-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.main-section-bookmark-urlname {
  font-weight: 600;
}

.main-section-bookmark-url {
  font-size: 0.9rem;
  color: hsla(0, 0%, 0%, 0.6);
}

.main-section-bookmark-clear {
  width: 350px;
  height: 10px;
}

/*! ANIMATIONS */

.ease {
  animation: .2s appear ease-in;
}

.deactive {
  opacity: 0;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}